<header class="header">
    {% include "./art.njk" %}
    <div class="header-content">
        {% include "./pfp.njk" %}
        {% include "./brand.njk" %}
        {% include "./nav.njk" %}
        <div class="header-break"></div>
    </div>
</header>