<header class="header">
    {% include "./art.njk" %}
    <div class="header-content">
        {% include "./pfp.njk" %}
        {% include "./brand.njk" %}
        {% include "./nav.njk" %}
        <div class="header-break"></div>
    </div>
</header>
<script>
    window.addEventListener("DOMContentLoaded", function() {
        const HeaderResizeObserver = new ResizeObserver(entries => {
            for (let entry of entries) {
                let image = entry.target.querySelector(".header-art-image");
                image.style.height = entry.contentRect.height + "px";
            }
        });
        HeaderResizeObserver.observe(document.querySelector(".header"));
    });
</script>