<nav class="header-nav">
    {% for title, props in nav.header %}
    <a class="header-nav-link"
        href="{{ props.url | url }}" title="{{ title }}" aria-label="{{ title }}"
        {% if props.url == page.url %}aria-current="page"{% endif %}>
        <i class="bi bi-{{ props.icon }}"></i>
    </a>
    {% endfor %}
</nav>