---
title: Projects
description: The various projects undertaken by Joshua Elijah Sandoval.
layout: page
class: homepage
hero: /assets/images/hero/home.jpg
cards:
    Neo CSS:
        description: A modern, modular and extensible CSS boilerplate built with SASS/SCSS.
        url: https://neo.joshuasandoval.me/
        hero: /assets/images/hero/neo-css/default.png
        hero-dark: /assets/images/hero/neo-css/dark.png
---

<h1>My Projects</h1>
<h2>A curated selection of my work.</h2>

{% include "cards.njk" %}