// Base: CSS for the website base layout.

@use "../api" as *;

html {
    color-scheme: $color-scheme;
    font: $weight #{$font-size}/#{$line-height} $font;
    word-break: break-word;
    @include background-color using ($bg) {
        background-color: $bg;
        color: text-color($color2: $bg);
    }
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: $weight-bold;
    line-height: $line-height-heading;
}

a[href] {
    @include background-color using ($bg) {
        color: text-color($yellow, $bg);
    }
    &:not(:hover, :focus) {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}