// Page: CSS for the website page layout.

@use "../api" as *;

#page body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    & > * {
        flex: 0 0 auto;
    }
    & > div {
        padding: $safe-x;
        margin: auto 0;
    }
}