// Page: CSS for the website page layout.

@use "../api" as *;

#page body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    & > * {
        flex: 0 0 auto;
    }
    & > div {
        animation: page 500ms ease-out;
        padding: $safe-x;
        margin: auto 0;
        @include reduced-motion {
            animation: none;
        }
    }
    main {
        h1, h2 {
            margin: 0;
        }
        h1 {
            font-family: "Cookie", cursive;
            line-height: 1.15;
            @include breakpoints(font-size,
                font-size(4),
                font-size(5),
                font-size(6)
            );
        }
        h2 {
            font-weight: $weight;
            @include breakpoints(font-size,
                font-size(1),
                font-size(2),
                font-size(3)
            );
        }
        p {
            @include breakpoints(font-size,
                font-size(0),
                font-size(1),
                font-size(2)
            );
        }
    }
}

@keyframes page {
    from, 25% {
        transform: scale(1.02);
        opacity: 0;
    }
}