// Members: Forwards and configures package modules alongside more defaults.

// Forward & Configure Packages:
@forward "precolor" with (
	$light: #94a5c3 !default
);
@forward "presized";

// Import Font Families:
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hind+Madurai:wght@400;600&family=Nunito:wght@400;600;800&display=swap');

// Font Families:
$font: 'Nunito', sans-serif;
$font-display: 'Hind Madurai', sans-serif;
$font-brand: 'Cookie', cursive;

// Line-Height:
$line-height: 1.5;
$line-height-display: 1.25;