// App: CSS for entire website.

@use "members" as *;

*, ::before, ::after {
	transition:
		font-size 300ms ease-out,
		padding 150ms linear,
		margin 150ms linear;
	box-sizing: border-box;
	max-width: 100%;
}

:root {
	font-family: $font;
	font-size: $medium;
	line-height: 1.5;
	word-wrap: break-word;
	@include color-schemes using ($color) {
		background-color: $color;
		color: high-contrast($light $dark, $color);
	}
}

body {
	animation: body 500ms ease-in-out;
	margin: 0;
}

@keyframes body {
	from {
		transform: translateY(calc(#{$small} * -1));
		opacity: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-display;
	line-height: 1.25;
	margin: $small 0;
}

h1 {
	font-size: $xx-large;
}

h2 {
	font-size: $x-large;
}

h3 {
	font-size: $large;
}

h4 {
	font-size: $medium;
}

h5 {
	font-size: $small;
}

h6 {
	font-size: $x-small;
}

small, sup, sub {
	font-size: $smaller;
}

a[href] {
	&:not(:hover, :focus) {
		text-decoration-line: none;
	}
	@include color-schemes using ($color) {
		@include contrast using ($ratio) {
			color: contrast-color($secondary, $color, $ratio);
		}
	}
}