// App: CSS for entire website.

@use "members" as *;

*, ::before, ::after {
	box-sizing: border-box;
	max-width: 100%;
}

:root {
	font-family: $font;
	line-height: $line-height;
	word-wrap: break-word;
	@include color-schemes using ($color) {
		background-color: $color;
		color: high-contrast($light $dark, $color);
	}
}

body {
	animation: body 500ms ease-in-out;
	margin: 0;
}

@keyframes body {
	from {
		transform: translateY(-1rem);
		opacity: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-display;
	line-height: $line-height-display;
	@include modular-scale(-1) using ($size) {
		margin: $size 0;
	}
}

h1 {
	@include font-size(3);
}

h2 {
	@include font-size(2);
}

h3 {
	@include font-size(1);
}

h4 {
	@include font-size(0);
}

h5 {
	@include font-size(-1);
}

h6 {
	@include font-size(-2);
}

small, sup, sub {
	font-size: size(-1);
}

a[href] {
	&:not(:hover, :focus) {
		text-decoration-line: none;
	}
	@include color-schemes using ($color) {
		@include contrast using ($ratio) {
			color: contrast-color($primary, $color, $ratio);
		}
	}
}