// Header: Styles for the Header component.

@use "members" as *;

.header {
	display: block;
	@include modular-scale(3) using ($size) {
		margin:
			calc($size + $safe-top)
			calc($size + $safe-right)
			$size
			calc($size + $safe-left);
	}
	&-wrapper {
		display: block;
		max-width: $xxl;
		margin: 0 auto;
		@include container(header);
	}
	&-title, &-subtitle {
		display: inline-block;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&-title {
		@include font-size(4);
	}
	&-subtitle {
		font-family: $font-brand;
		font-weight: 400;
		margin: 0;
		@include font-size(3);
	}
}

@include color-schemes using ($color) {
	@include contrast(aa large, aaa large) using ($ratio) {
		.header-title {
			color: contrast-color($primary, $color, $ratio);
			background-image: linear-gradient(100deg,
				contrast-color(#d260a5, $color, $ratio),
				contrast-color(#e5adcd, $color, $ratio),
				contrast-color(#fefefe, $color, $ratio),
				contrast-color(#57cef5, $color, $ratio),
				contrast-color(#fefefe, $color, $ratio),
				contrast-color(#e5adcd, $color, $ratio),
				contrast-color(#d260a5, $color, $ratio)
			);
		}
		.header-subtitle {
			color: contrast-color($secondary, $color, $ratio);
			background-image: linear-gradient(128deg,
				high-contrast($light $dark, $color),
				contrast-color($secondary, $color, $ratio)
			);
		}
	}
}