// Header: Styles for the Header component.

@use "members" as *;

.header {
	position: relative;
	display: block;
	overflow: hidden;
	@include color-schemes using ($color) {
		background-image: linear-gradient(to bottom, rgba($color, 0.9), transparent);
	}
	@include modular-scale(3) using ($size) {
		padding:
			calc($size + $safe-top)
			calc($size + $safe-right)
			$size
			calc($size + $safe-left);
	}
	&-image {
		position: absolute;
		z-index: -2;
		inset: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 25%;
		transform: scale(1.01);
		filter: blur(3px) saturate(150%);
		mask-image: linear-gradient(to bottom, black, transparent);
	}
	&-wrapper {
		display: block;
		max-width: $xxl;
		margin: 0 auto;
		animation: header 1s ease;
		@include container(header);
	}
	&-title, &-subtitle {
		display: inline-block;
	}
	&-title {
		@include font-size(4);
	}
	&-subtitle {
		font-weight: 400;
		font-family: $font-brand;
		margin: 0;
		@include font-size(3);
		@include color-schemes using ($color) {
			@include contrast(aa large, aaa large) using ($ratio) {
				color: contrast-color($secondary, $color, $ratio);
			}
		}
	}
}

@keyframes header {
	from {
		transform: translateY(-0.5rem);
	}
}