// Navigation List: Styles for the NavList component.

@use "members" as *;

.navlist {
	display: flex;
	flex-flow: row wrap;
	gap: size(1) size(-1);
	@include font-size(1);
	.active {
		font-weight: bold;
		@include color-schemes using ($color) {
			color: high-contrast($white $black, $color);
		}
	}
}