/* Root: Application global CSS variables (custom properties). */

/* Import Open Color NPM package: */
@import url('open-color/open-color.css');

/* Import Font Families: */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hind+Madurai:wght@400;600&family=Nunito:wght@400;600;800&display=swap');

:root {
	/* Breakpoint Widths: */
	--width-2xs: 180px;
	--width-xs: 240px;
	--width-s: 360px;
	--width-m: 480px;
	--width-l: 768px;
	--width-xl: 1024px;
	--width-2xl: 1440px;
	--width-3xl: 1600px;

	/* Safe Areas: */
	--safe-top: env(safe-area-inset-top);
	--safe-right: env(safe-area-inset-right);
	--safe-bottom: env(safe-area-inset-bottom);
	--safe-left: env(safe-area-inset-left);

	--safe: var(--safe-top) var(--safe-right) var(--safe-bottom) var(--safe-left);
	--safe-x: 0 var(--safe-right) 0 var(--safe-left);
	--safe-y: var(--safe-top) 0 var(--safe-bottom) 0;

	--safe-header: var(--safe-top) var(--safe-right) 0 var(--safe-left);
	--safe-main: var(--safe-x);
	--safe-footer: 0 var(--safe-right) var(--safe-bottom) var(--safe-left);

	/* Default Palette: */
	--bg-color-1: var(--oc-gray-9);
	--bg-color-2: var(--oc-gray-8);
	--bg-color-3: var(--oc-gray-7);
	--color: var(--oc-gray-1);
	--color-accent: var(--oc-cyan-3);

	/* Light Palette: */
	@media (prefers-color-scheme: light) {
		--bg-color-1: var(--oc-gray-0);
		--bg-color-2: var(--oc-gray-1);
		--bg-color-3: var(--oc-gray-2);
		--color: var(--oc-gray-8);
		--color-accent: var(--oc-cyan-9);
	}

	/* Custom Wallpaper Image: */
	--custom-wallpaper: linear-gradient(157deg,
		var(--bg-color-2) 10%,
		var(--oc-blue-9) 30%,
		var(--oc-cyan-9) 50%,
		var(--oc-teal-9) 70%,
		var(--bg-color-1) 90%
	);

	/* Font Families: */
	--font: 'Nunito', sans-serif;
	--font-display: 'Hind Madurai', sans-serif;
	--font-brand: 'Cookie', cursive;

	/* Line-Height: */
	--line-height: 1.5;
	--line-height-display: 1.25;

	/* Font Sizing: */
	/* https://utopia.fyi/type/calculator?c=180,16,1.125,1600,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--font-xs: clamp(0.7035rem, 0.8011rem + -0.0976cqi, 0.7901rem);
	--font-s: clamp(0.8889rem, 0.8827rem + 0.055cqi, 0.9377rem);
	--font-m: clamp(1rem, 0.9683rem + 0.2817cqi, 1.25rem);
	--font-l: clamp(1.125rem, 1.0564rem + 0.6099cqi, 1.6663rem);
	--font-xl: clamp(1.2656rem, 1.1445rem + 1.0766cqi, 2.2211rem);
	--font-2xl: clamp(1.4238rem, 1.229rem + 1.7317cqi, 2.9607rem);
	--font-3xl: clamp(1.6018rem, 1.3046rem + 2.6421cqi, 3.9467rem);
	--font-4xl: clamp(1.802rem, 1.3636rem + 3.8973cqi, 5.2609rem);
  
	/* Box Sizing: */
	/* https://utopia.fyi/space/calculator?c=180,16,1.125,1600,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-2xl&g=s,l,xl,12 */

	--space-3xs: clamp(0.25rem, 0.2421rem + 0.0704cqi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4842rem + 0.1408cqi, 0.625rem);
	--space-xs: clamp(0.75rem, 0.7262rem + 0.2113cqi, 0.9375rem);
	--space-s: clamp(1rem, 0.9683rem + 0.2817cqi, 1.25rem);
	--space-m: clamp(1.5rem, 1.4525rem + 0.4225cqi, 1.875rem);
	--space-l: clamp(2rem, 1.9366rem + 0.5634cqi, 2.5rem);
	--space-xl: clamp(3rem, 2.9049rem + 0.8451cqi, 3.75rem);
	--space-2xl: clamp(4rem, 3.8732rem + 1.1268cqi, 5rem);
	--space-3xl: clamp(6rem, 5.8099rem + 1.6901cqi, 7.5rem);
  
	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.2025rem + 0.4225cqi, 0.625rem);
	--space-2xs-xs: clamp(0.5rem, 0.4445rem + 0.493cqi, 0.9375rem);
	--space-xs-s: clamp(0.75rem, 0.6866rem + 0.5634cqi, 1.25rem);
	--space-s-m: clamp(1rem, 0.8891rem + 0.9859cqi, 1.875rem);
	--space-m-l: clamp(1.5rem, 1.3732rem + 1.1268cqi, 2.5rem);
	--space-l-xl: clamp(2rem, 1.7782rem + 1.9718cqi, 3.75rem);
	--space-xl-2xl: clamp(3rem, 2.7465rem + 2.2535cqi, 5rem);
	--space-2xl-3xl: clamp(4rem, 3.5563rem + 3.9437cqi, 7.5rem);
  
	/* Custom pairs */
	--space-s-2xl: clamp(1rem, 0.493rem + 4.507cqi, 5rem);
}