<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <span>&copy; {% year %} {{ site.author }}.</span>
            <span>Site built with <a href="https://www.11ty.dev/">11ty</a>.</span>
        </div>
        <nav class="footer-nav">
            {% for title, props in nav.footer %}
            <a class="footer-nav-link" href="{{ props.url | url }}" {% if props.url == page.url %}aria-current="page"{% endif %}>
                <i class="bi bi-{{ props.icon }}" aria-label="{{ title }}"></i>
            </a>
            {% endfor %}
        </nav>
    </div>
    <a href="#" id="footer-toTop">
        <i class="bi bi-arrow-up-circle"></i>
    </a>
</footer>
<script>
    var footerToTop = document.getElementById("footer-toTop");
    var headroom  = new Headroom(footerToTop, {
        classes: {
            initial: "hidden",
            pinned: "hidden"
        },
    });
    headroom.init();
</script>