/** The website homepage styles. */

.container, .intro {
	display: block;
	margin-block: var(--medium-size);
}

.profile {
	position: relative;
	display: block;
	width: min(35cqi, var(--x-small-container));
	aspect-ratio: 1 / 1;
	background-color: var(--primary-50-800);
	background-color: oklch(from var(--primary-50-800) l c h / var(--2x-low-opacity));
	border-radius: 15px 255px 15px 225px / 225px 15px 255px 15px;
	border: 1px var(--border-style) var(--primary-300-600);
	padding: var(--3x-small-size);
	margin-block-start: var(--3x-small-size);
	margin-block-end: clamp(var(--x-small-size), var(--responsive-size), var(--large-size));
	margin-inline-end: clamp(var(--medium-size), var(--responsive-size), var(--x-large-size));
	object-fit: cover;
	overflow: hidden;
	float: left;
	transform: rotate(1deg);
}

.profileImage {
	position: absolute;
	inset: 0;
	width: 100%;
}

.pronouns {
	position: absolute;
	z-index: var(--z-absolute);
	right: var(--small-size);
	bottom: 0;
	border-radius: inherit;
	background-color: var(--primary-300-600);
	background-color: oklch(from var(--primary-300-600) l c h / var(--high-opacity));
	color: var(--secondary-700-100);
	padding-inline: var(--2x-small-size);
	padding-block: var(--3x-small-size);
	line-height: var(--line-short);
	font-weight: var(--regular-font);
	font-style: italic;
}

.title, .subtitle {
	display: block;
	font-family: var(--display-font);
	font-size: var(--7x-large-font);
	font-weight: var(--heavy-font);
	line-height: var(--line-short);
	margin-block: 0;
}

.subtitle {
	font-size: var(--3x-large-font);
	font-weight: var(--thin-font);
	margin-block-start: var(--3x-small-size);
}

.skills {
	display: flex;
	flex-flow: row wrap;
	font-size: var(--3x-large-font);
	gap: var(--small-size);
	margin-block: var(--medium-size);
}

.about {
	display: block;
	font-size: var(--large-font);
	margin-block: var(--medium-size);
}

.link {
	font-family: var(--accent-font);
	font-size: var(--larger-font);
}