/** The website homepage styles. */

.container, .intro {
	display: block;
	margin-block: var(--2x-small) var(--medium);
}

.container {
	max-inline-size: var(--larger-container);
}

.profile {
	position: relative;
	display: block;
	inline-size:
		var(--is-watch, min(100%, var(--smallest-container)))
		var(--is-phone-to-desktop, min(35%, var(--small-container)));
	box-shadow: var(--lightest-box-shadow);
	background-color: var(--primary-color);
	border-radius: var(--small-radius);
	border: 1px var(--border-style) var(--tertiary-color);
	margin-block-start: var(--3x-small);
	margin-block-end: var(--margin-size);
	margin-inline-end: var(--margin-size);
	object-fit: cover;
	overflow: hidden;
	float: var(--is-watch, none) var(--is-phone-to-desktop, left);
	transform: rotate(1deg);
}

.profileImage {
	inline-size: 100%;
}

.pronouns {
	position: absolute;
	z-index: var(--z-absolute);
	right: 1ch;
	bottom: 0;
	border-radius: inherit;
	color: var(--light-color);
	text-shadow: 0 1px 3px var(--dark-color);
	line-height: var(--tall-line);
	font-size: var(--small);
	font-weight: var(--regular);
	font-style: italic;
}

.title, .subtitle {
	display: block;
	font-family: var(--display-family);
	font-size: var(--7x-large);
	font-weight: var(--heavy);
	line-height: var(--short-line);
	margin-block: 0;
}

.subtitle {
	font-size: var(--3x-large);
	font-weight: var(--thin);
	margin-block-end: var(--3x-small);
}

.skills {
	display: flex;
	flex-flow: row wrap;
	font-size: var(--2x-large);
	gap: var(--small);
	margin-block: var(--2x-large);
}

.about {
	display: block;
	font-size: var(--large);
	margin-block: var(--medium);
}

.link {
	font-family: var(--accent-family);
	font-size: var(--larger);
}