// Footer: Styles for the website footer.

@use "../neo" as *;

.footer {
    display: block;
    background-color: shade($black, 2%);
    color: text-color($white, $black);
    padding: 0 $safe-right $safe-bottom $safe-left;
}

.footer a {
    color: text-color($gray, $black);
    &:hover, &:focus {
        color: text-color($white, $black);
    }
    &:active {
        color: text-color($yellow, $black);
    }
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: $lg;
    padding: size(1);
    margin: auto;
    @include breakpoints(padding-bottom, px(48), px(64), px(80), px(96));
}

.footer-info {
    display: block;
    margin-right: size(0);
    & > * {
        display: block;
    }
}

.footer-nav {
    display: block;
    &-link {
        font-size: font-size(5);
        text-decoration: none;
        &:not(:last-child) {
            margin-right: px(4);
        }
        &[aria-current="page"] {
            color: text-color($yellow, $black);
        }
    }
}

#footer-toTop {
    position: fixed;
    z-index: $z-fixed;
    display: block;
    font-size: px(32);
    line-height: 0;
    background-color: $black;
    border: 1px solid $black;
    border-radius: 9999px;
    margin: 0 $safe-right $safe-bottom 0;
    transition-property: transform, visibility, opacity;
    transition-duration: 150ms;
    @include declare(right bottom, size(1));
    &:hover, &:focus {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.95);
    }
}

#footer-toTop.hidden {
    transform: scale(0.75);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}