// Header: CSS for the website global header.

@use "../api" as *;

#header {
    position: relative;
    display: block;
    background-image: linear-gradient(rgba($black, 0.66), $white);
    padding: $safe-top $safe-right 0 $safe-left;
    margin-bottom: px(120);
    overflow: visible;
    @include dark {
        background-image: linear-gradient(rgba($black, 0.66), $black);
    }
}

#header-banner {
    position: absolute;
    z-index: -1;
    background-color: $black;
    overflow: hidden;
    @include inset(0);
    img {
        object-position: center;
        @include declare(width height, 100%);
    }
}

#header-title {
    display: block;
    font-family: "Cookie", cursive;
    font-size: font-size(5);
    padding: size(1) size(2);
    color: text-color($white, $black);
    text-shadow: 0 0 1px $black;
    margin: 0;
}

#header-cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    transform: translateY(px(120));
    gap: size(0);
    @include breakpoints(padding, size(1), size(2));
    figure {
        display: block;
        width: px(427);
        max-width: 100%;
        flex: 0 0 auto;
        scroll-snap-align: center;
        outline: none;
        margin: 0;
        transition: transform 300ms linear;
    }
    figure:is(:focus-within, :hover) {
        transform: scale(1.02);
    }
    img {
        display: block;
        width: 100%;
        height: px(267);
        object-fit: cover;
        background-color: $white;
        border-radius: $radius-md;
        box-shadow: 0 0 8px -2px $black;
        padding: px(4);
        overflow: hidden;
    }
    figure:is(:focus-within, :hover) img {
        animation: header-card-focus 3s linear infinite alternate;
    }
    figcaption {
        display: block;
        max-width: 100%;
        font-family: $font-heading;
        font-weight: $weight-bold;
        font-size: font-size(2);
        margin: size(-1) 0;
    }
}

@keyframes header-card-focus {
    to {
        background-color: $blue;
    }
}