// Contact: Styles for the website contact page.

@use "../neo" as *;

.contact .header {
    margin-bottom: 0;
}

.contact-main {
    display: flex;
    flex-flow: column nowrap;
    max-width: $lg;
    height: px(300);
    min-height: 100%;
    justify-content: center;
    margin: 0 auto;
    overflow: visible;
    @include breakpoints(padding, 
        0 size(1),
        0 size(2),
        0 size(3),
        0 size(4)
    );
}

.contact-title {
    display: block;
    font-weight: $weight-bold;
    @include breakpoints(font-size,
        font-size(2),
        font-size(3),
        font-size(4),
        font-size(5)
    );
}

.contact #address {
    display: block;
    width: 100%;
    height: auto;
    fill: url(#address-gradient);
    stroke: black;
    stroke-width: 2;
    animation:
        contact-address 500ms cubic-bezier(0.45, 0.15, 0, 1),
        contact-address-pulse 2s 500ms linear infinite;
    transition: fill 1s linear;
    &:hover {
        fill: currentColor;
        stroke-width: 0;
    }
    @include reduced-motion {
        animation: none;
    }
}

@keyframes contact-address {
    from {
        transform: scale(5);
    }
}

@keyframes contact-address-pulse {
    50% {
        transform: scale(1.01);
    }
}