// Homepage: CSS for the website home.

@use "../api" as *;

#page.homepage main {
    display: block;
    max-width: $lg;
    padding: size(1);
    margin: auto;
    @include min-vw($md) {
        padding: size(2);
    }
}