/* The main website footer styles. */

.container {
	display: block;
	width: min(100%, var(--larger-container));
	font-size: var(--small);
	padding-block-start: var(--small);
	padding-block-end: max(var(--medium), var(--safe-bottom));
	padding-inline-start: max(var(--margin-size), var(--safe-left));
	padding-inline-end: max(var(--margin-size), var(--safe-right));
	margin-inline: auto;
	color: var(--light, var(--dark-gray)) var(--dark, var(--light-gray));
	text-shadow: 0 0 1px var(--contrast-color);
	text-align: end;
}