/* The main website footer styles. */

.container {
	display: block;
	width: min(100%, var(--largest-container));
	font-size: var(--small);
	padding-block-start: var(--small);
	padding-block-end: max(var(--medium), var(--safe-bottom));
	padding-inline-start: max(var(--margin-size), var(--safe-left));
	padding-inline-end: max(var(--margin-size), var(--safe-right));
	margin-inline: auto;
	color: var(--primary-gray);
	text-shadow: var(--text-stroke-shadow);
	text-align: end;
}