/** The website main navigation header styles. */

.container {
	position: sticky;
	top: 0;
	z-index: var(--z-sticky);
	display: flex;
	flex-flow: row nowrap;
	overflow: auto;
	background-color: var(--primary-50-800);
	background-color: oklch(from var(--primary-50-800) l c h / var(--medium-opacity));
	backdrop-filter: var(--heavy-blur) var(--x-high-saturation);
	filter: var(--3x-light-shadow);
}

.wrapper {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	max-width: var(--3x-large-container);
	gap: var(--medium-size);
	flex: 1 1 auto;
	padding-block-start: max(var(--x-small-size), var(--safe-top));
	padding-block-end: var(--x-small-size);
	padding-inline-start: max(var(--medium-size), var(--responsive-size), var(--safe-left));
	padding-inline-end: max(var(--medium-size), var(--responsive-size), var(--safe-right));
	margin-inline: auto;
}

.title {
	display: inline;
	white-space: nowrap;
	font-size: var(--x-large-font);
	font-family: var(--accent-font);
	margin: 0;
}

.navigation {
	display: flex;
	flex-flow: row nowrap;
	gap: inherit;
	font-family: var(--display-font);
	margin-inline-start: auto;
}