/** The website main navigation header styles. */

.container {
	position:
		var(--watch, relative)
		var(--phone-to-desktop, sticky);
	top: 0;
	z-index: var(--z-sticky);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	inline-size: min(100%, var(--larger-container));
	gap: var(--medium);
	padding-block-start: max(var(--medium), var(--safe-top));
	padding-block-end: var(--3x-small);
	padding-inline-start: max(var(--margin-size), var(--safe-left));
	padding-inline-end: max(var(--margin-size), var(--safe-right));
	margin-inline: auto;
	&::before {
		position: absolute;
		inset: 0;
		z-index: -1;
		content: "";
		mask-mode: alpha;
		mask-image: linear-gradient(to bottom, black 50%, transparent);
		mask-size: 100% 100%;
		backdrop-filter: var(--light-blur);
	}
}

.title {
	display: inline-block;
	white-space: nowrap;
	font-size: var(--2x-large);
	font-family: var(--accent-family);
	line-height: var(--short-line);
	margin-block: 0;
	margin-inline-end: auto;
}

.customizeButton, .navigationButton {
	display: inline-flex;
	align-items: center;
	appearance: none;
	font-size: var(--2x-large);
	font-weight: var(--regular-weight);
	box-shadow: var(--lightest-box-shadow);
	border: 1px var(--border-style) var(--tertiary-body);
	border-radius: var(--small-radius);
	backdrop-filter: var(--light-blur);
	background-image: none;
	background-color: var(--primary-body);
	color: inherit;
	padding: var(--3x-small);
	margin: 0;
	cursor: pointer;
	transition: scale var(--fast-time) var(--ease-out);
	&:active {
		background-color: var(--secondary-body);
	}
}

.navigation {
	position: absolute;
	z-index: var(--z-absolute);
	top: 100%;
	right: max(var(--margin-size), var(--safe-right));
	left: var(--x-small);
	display: block;
	max-block-size: 80vb;
	max-inline-size: min(100%, var(--smaller-container));
	border-radius: var(--small-radius);
	border: 1px var(--border-style) var(--secondary-body);
	box-shadow: var(--lighter-box-shadow);
	backdrop-filter: var(--medium-blur);
	transition: all var(--fast-time) var(--ease-out);
	transition-property: transform, opacity;
	overflow: auto;
	margin-inline-start: auto;
	&:not(:focus-within) {
		pointer-events: none;
		transform: translateY(calc(var(--2x-small) * -1));
		opacity: 0;
	}
}

.optionLink {
	display: block;
	padding-block: var(--x-small);
	padding-inline: var(--small);
	background-color: var(--primary-body);
	border-block-end: 1px var(--border-style) var(--tertiary-body);
	line-height: var(--short-line);
	text-decoration: none;
	color: inherit;
	&:last-child {
		border-block-end: none;
	}
	&:not(:hover, :active) {
		transition: background-color var(--slow-time) var(--ease-out);
	}
	&:hover, &:active {
		background-color: var(--secondary-body);
		color: var(--primary-text)
	}
	&:active {
		background-color: var(--tertiary-body);
	}
}

.backdrop {
	position: fixed;
	inset: 0;
	backdrop-filter: var(--light-blur) var(--low-brightness);
	transition: opacity var(--fast-time) var(--ease-out);
	cursor: pointer;
	.container:not(:has(.navigation:focus-within)) & {
		pointer-events: none;
		opacity: 0;
	}
}