/** The website main navigation header styles. */

.container {
	position: sticky;
	top: 0;
	z-index: var(--z-sticky);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	inline-size: min(100%, var(--3x-large-container));
	gap: var(--medium-size);
	padding-block-start: max(var(--x-small-size), var(--safe-top));
	padding-block-end: var(--x-small-size);
	padding-inline-start: max(var(--medium-size), var(--responsive-size), var(--safe-left));
	padding-inline-end: max(var(--medium-size), var(--responsive-size), var(--safe-right));
	margin-inline: auto;
}

.title {
	display: inline-block;
	white-space: nowrap;
	text-shadow:
		-1px -1px 1px var(--primary-100-700),
		1px -1px 1px var(--primary-100-700),
		-1px 1px 1px var(--primary-100-700),
		1px 1px 1px var(--primary-100-700);
	font-size: var(--x-large-font);
	font-family: var(--accent-font);
	line-height: var(--line-short);
	margin-block: 0;
	margin-inline-end: auto;
}

.customizeButton, .navigationButton {
	display: inline-flex;
	align-items: center;
	appearance: none;
	font-size: var(--medium-size);
	font-weight: var(--regular-font);
	border: 1px var(--border-style) var(--primary-200-600);
	border-radius: var(--2x-small-size);
	background-image: none;
	background-color: var(--primary-50-700);
	color: inherit;
	padding: var(--2x-small-size);
	margin: 0;
	cursor: pointer;
	transition: scale var(--fast-time) var(--ease-out);
	&:active {
		background-color: var(--primary-100-600);
	}
}

.navigation {
	position: absolute;
	z-index: var(--z-absolute);
	top: 100%;
	right: max(var(--medium-size), var(--safe-right));
	left: var(--x-small-size);
	display: block;
	max-block-size: 80vb;
	max-inline-size: min(100%, var(--2x-small-container));
	border-radius: var(--2x-small-size);
	background-color: var(--primary-50-700);
	transition: all var(--fast-time) var(--ease-out);
	transition-property: transform, opacity;
	overflow: auto;
	margin-inline-start: auto;
	filter: var(--3x-light-shadow);
	&:not(:focus-within) {
		pointer-events: none;
		transform: translateY(calc(var(--2x-small-size) * -1));
		opacity: 0;
	}
}

.optionLink {
	display: block;
	padding-block: var(--x-small-size);
	padding-inline: var(--small-size);
	border-block-end: 1px var(--border-style) var(--primary-200-600);
	line-height: var(--line-short);
	text-decoration: none;
	color: inherit;
	transition: background-color var(--fast-time) var(--ease-out);
	&:last-child {
		border-block-end: none;
	}
	&:hover, &:focus {
		transition-duration: 0ms;
		background-color: var(--primary-100-600);
	}
	&:active {
		background-color: var(--primary-200-500);
	}
}

.backdrop {
	position: fixed;
	inset: 0;
	background-color: oklch(0 0 0 / var(--2x-low-opacity));
	background-color: oklch(from var(--primary-500-900) l c h / var(--2x-low-opacity));
	backdrop-filter: var(--2x-light-blur);
	transition: opacity var(--fast-time) var(--ease-out);
	cursor: pointer;
	.container:not(:has(.navigation:focus-within)) & {
		pointer-events: none;
		opacity: 0;
	}
}