/** The website homepage styles. */

.container, .intro {
	display: block;
}

.profile {
	display: block;
	width: min(33cqi, var(--small-container));
	backdrop-filter: var(--x-light-blur);
	border-radius: var(--x-small-size);
	border: 1px var(--border-style) var(--primary-200-700);
	padding: var(--2x-small-size);
	margin-block-start: var(--3x-small-size);
	margin-block-end: var(--medium-size);
	margin-inline-start: clamp(var(--small-size), var(--responsive-size), var(--x-large-size));
	object-fit: cover;
	overflow: hidden;
	float: right;
	transform: rotate(1deg);
}

.title, .subtitle {
	display: block;
	font-family: var(--display-font);
	font-size: var(--7x-large-font);
	font-weight: var(--heavy-font);
	line-height: var(--line-short);
	margin-block: 0;
}

.subtitle {
	font-size: var(--3x-large-font);
	font-weight: var(--thin-font);
	margin-block-start: var(--3x-small-size);
}

.skills {
	display: flex;
	flex-flow: row wrap;
	font-size: var(--3x-large-font);
	gap: var(--small-size);
	margin-block: var(--medium-size);
}

.about {
	display: block;
	font-size: var(--large-font);
	margin-block: var(--medium-size);
}

.link {
	font-family: var(--accent-font);
	font-size: var(--larger-font);
}