/* A link to another webpage styles. */

.container {
	text-shadow: var(--text-contrast-shadow);
	color: var(--primary-accent);
	&:not(:hover, :focus) {
		text-decoration: none;
	}
	&:active {
		color: var(--secondary-accent);
	}
}