/* A link to another webpage styles. */

.container {
	text-shadow: 0 0 1px var(--contrast-color);
	color: var(--lightest-accent);
	&:not(:hover, :focus) {
		text-decoration: none;
	}
	&:active {
		color: var(--lighter-accent);
	}
}