.container {
	position: sticky;
	z-index: var(--z-sticky);
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	padding-inline: var(--margin-size);
	padding-block-start: var(--3x-small);
	padding-block-end: max(var(--small), var(--safe-bottom));
	scroll-snap-type: inline mandatory;
	overflow: auto;
}

.wrapper {
	display: block;
	margin-inline: auto;
}

.nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	gap: var(--large);
	padding-inline: var(--large);
	padding-block: var(--x-small);
	overflow: hidden;
}

.link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--x-small);
	font-weight: var(--normal-weight);
	line-height: var(--short-line);
	color: var(--low-contrast-color);
	text-decoration: none;
	scroll-snap-align: center;
	cursor: pointer;
	&:hover, &:focus {
		color: var(--medium-contrast-color);
	}
	&.active {
		font-weight: var(--bold-weight);
		color: var(--high-contrast-color);
	}
}

.icon {
	display: block;
	font-size: var(--large);
}

.label {
	display: block;
	font-size: var(--small);
	white-space: nowrap;
}