/* Styles for listings of all my projects. */

.grid {
	display: block;
	column-count: 4;
	column-width: var(--x-small-container);
	column-gap: var(--medium-size);
	column-fill: balance;
	clear: both;
	margin-block: var(--medium-size);
}

.item {
	display: block;
	break-inside: avoid;
	padding-block-end: var(--small-size);
	&:last-child {
		padding-block-end: 0;
	}
}

.project {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: end;
	border-radius: var(--2x-small-size);
	border: 1px var(--border-style) var(--tertiary-background);
	background-color: var(--primary-background);
	color: var(--primary-neutral);
	padding: var(--small-size);
	gap: var(--medium-size);
	overflow: hidden;
	&:has(.portal) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}
}

.portal {
	display: block;
	margin: calc(var(--small-size) * -1);
	img {
		display: block;
		inline-size: 100%;
		aspect-ratio: var(--wide-ratio);
		object-fit: cover;
		object-position: top center;
		mask-image: linear-gradient(black, transparent);
		mask-type: alpha;
	}
}

.title, .description, .link {
	position: relative;
	z-index: 1;
	display: inline-block;
	flex: 1 1 0;
	margin: 0;
}

.title {
	font-family: var(--display-font);
	font-weight: var(--regular-font);
}

.link {
	flex: 0 0 auto;
}