/* Styles for listings of all my projects. */

.grid {
	display: block;
	column-count: 4;
	column-width: var(--small-container);
	column-gap: var(--medium);
	column-fill: balance;
	clear: both;
	margin-block: var(--medium);
}

.item {
	display: block;
	break-inside: avoid;
	padding-block-end: var(--small);
	&:last-child {
		padding-block-end: 0;
	}
}

.project {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: end;
	box-shadow: var(--lightest-box-shadow);
	border-radius: var(--smaller-radius);
	border: 1px var(--border-style) var(--tertiary-body);
	background-color: var(--primary-body);
	color: var(--primary-text);
	padding: var(--small);
	gap: var(--medium);
	overflow: hidden;
	&:has(.portal) {
		--light: var(--false);
		--dark: var(--true);
	}
}

.portal {
	display: block;
	margin: calc(var(--small) * -1);
	img {
		display: block;
		inline-size: 100%;
		aspect-ratio: var(--wide-ratio);
		object-fit: cover;
		object-position: top center;
		mask-image: linear-gradient(black, transparent);
		mask-type: alpha;
	}
}

.title, .description, .link {
	position: relative;
	z-index: 1;
	display: inline-block;
	flex: 1 1 0;
	margin: 0;
}

.title {
	font-family: var(--display-family);
	font-weight: var(--regular-weight);
}

.link {
	flex: 0 0 auto;
}