/* Styles for Tinted Glass component. */

:where(.container, .wrapper, .content) {
	transition-property: backdrop-filter, background, color;
	transition-duration: var(--normal-time);
	transition-timing-function: var(--ease-out);
}

:where(.container, .wrapper) {
	border-radius: inherit;
}

:where(.container) {
	position: relative;
	z-index: 0;
	display: inline-block;
	backdrop-filter: var(--lightest-blur) var(--high-brightness);
	box-shadow: var(--lightest-box-shadow);
	pointer-events: none;
	overflow: visible;
	--background-color: oklch(0.9 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
	--middleground-color: oklch(0.8 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
	--foreground-color: oklch(0.7 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
	--high-contrast-color: oklch(0.25 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
	--medium-contrast-color: oklch(0.3 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
	--low-contrast-color: oklch(0.35 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
	@media (prefers-color-scheme: dark) {
		backdrop-filter: var(--lightest-blur) var(--low-brightness);
		--background-color: oklch(0.3 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
		--middleground-color: oklch(0.4 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
		--foreground-color: oklch(0.5 0.05 var(--tinted-glass-hue) / var(--medium-opacity));
		--high-contrast-color: oklch(0.95 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
		--medium-contrast-color: oklch(0.9 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
		--low-contrast-color: oklch(0.85 0.05 var(--tinted-glass-hue) / var(--highest-opacity));
	}
}

:where(.wrapper) {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--background-color);
	background-clip: border-box;
	color: var(--high-contrast-color);
	border: var(--3x-small) solid transparent;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0;
		border: inherit;
		border-radius: inherit;
		backdrop-filter: var(--heaviest-blur);
		background: border-box linear-gradient(45deg,
			transparent,
			var(--foreground-color),
			transparent
		);
		mask:
			linear-gradient(#000 0 0) padding-box,
			linear-gradient(#000 0 0) border-box;
		mask-composite: exclude;
	}
}

:where(.content) {
	display: block;
	pointer-events: auto;
	margin: calc(-1 * var(--3x-small));
}