---
title: About Me
description: Learn about myself; Joshua Elijah Sandoval, my hobbies and my work.
layout: page
layoutClass: about
---

<main class="about-main">
    <header class="about-title">
        <h1 class="title1">About Myself</h1>
        <h2 class="title2">
            My name is <strong>Joshua Elijah Sandoval</strong>.
        </h2>
    </header>
    <div class="about-content">
        <p>
            I was born in March of 1998. Raised in Texas.
            My father, <b>Andrew</b>, who is a C++ software engineer,
            introduced me to web development in my early teen years.
            And I begun a newfound love for programming.
        </p>
        <p>
            I love to discover and learn new ways to be more productive.
            I value <b>cleanliness</b>, <strong>accessibility</strong> and <b>performance</b> in my code, and in my visual design.
            My favorite programming languages are, first, the basic <b>HTML/CSS/JavaScript</b>.
            But I also know <b>SASS/SCSS</b>, <b>NPM</b>, <b>SVG</b>, <b>PHP</b>, <b>SQL</b>,
            a bit of <b>WordPress</b>, and so on...
        </p>
        <p>
            I was raised in <strong><a href="https://churchofjesuschrist.org" target="_blank">
            The Church of Jesus Christ of Latter Day Saints</a></strong>.
            I love to help edify and uplift others to becoming their fullest potential.
            The Saints are a good people, and I am grateful to the church for supporting me,
            and teaching me of Jesus Christ. <strong>He is Messiah.</strong>
            His teachings of repentance inspire me to be better, to not give up,
            to push forward and keep improving&mdash;myself, my work, and others.
        </p>
        <p>
            In terms of leisure, besides pursuing my skills,
            which takes the vast majority of my time&mdash;I love to be around my family first.
            But I also appreciate the occasional sports, and watching both educational and recreational content.
            And when I can, I enjoy a bit of gaming on the side as well.
            My favorite game franchise is <b>Horizon by Guerrilla Games</b>, a PlayStation studio.
        </p>
    </div>
</main>