---
title: Joshua Sandoval
layout: page
---

<main class="home">
    <header class="home-title">
        <h1 class="title1">Hello There&mdash;</h1>
        <h2 class="title2">I'm Joshua. I'm a Christian web developer based in Utah.</h2>
    </header>
    <p class="home-content">
        Welcome to my website! Here you can explore and 
        learn more <a href="{{ '/about/' | url }}">about myself</a> and my hobbies,
        <a href="{{ '/projects/' | url }}">my projects</a>,
        and even <a href="{{ '/contact/' | url }}">work with me</a>; if perhaps you're interested.
    </p>
</main>