---
title: My Projects
description: A curated selection of work by Joshua Elijah Sandoval.
layout: page
layoutClass: projects
---

<main class="projects-main">
    <header class="projects-title">
        <h1 class="title1">My Projects</h1>
        <h2 class="title2">A curated selection of my work.</h2>
    </header>
    <div class="projects-list">
        {% for title, props in projects %}
        <article class="projects-list-item">
            <div class="projects-card">
                <a class="projects-card-image" href="{{ props.url | url }}" target="_blank">
                    <picture>
                        {% if props.imageDarkMode %}
                        <source srcset="{{ props.imageDarkMode | url }}" media="(prefers-color-scheme: dark)">
                        {% endif %}
                        <img src="{{ props.image | url }}" alt="{{ title }}" loading="lazy" />
                    </picture>
                    <h2>{{ title }}</h2>
                </a>
                <p class="projects-card-description">
                    <strong>{{ title }}</strong>: {{ props.description }}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</main>