---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ [site.url, '/sitemap.xml'] | join | replace(r/([^:]\/)\/+/g, "$1") | url }}

User-agent: *
Disallow:

User-agent: Googlebot-Image
Disallow: /