---
layout: base
---
<main id="main">
    <picture id="main-banner">
        <img src="{{ hero }}" alt="{{ title }}" loading="lazy" />
    </picture>
    <h1 id="main-title">{{ site.title }}</h1>
    <nav id="main-cards">
        <div>
            {% for card in collections.main %}
            <figure>
                <a href="{{ card.data.linkTo or card.url | url }}"
                    {% if page.url == card.url %}aria-current="page"{% endif %}>
                    <picture>
                        <img src="{{ card.data.hero }}" alt="{{ card.data.title }}" loading="lazy">
                    </picture>
                </a>
                <figcaption>{{ card.data.title }}</figcaption>
            </figure>
            {%- endfor -%}
        </div>
    </nav>
</main>
<script>
    document.querySelectorAll("#main-cards a").forEach((link) => {
        link.addEventListener("focus", (e) => {
            let image = e.currentTarget.querySelector("img").src;
            document.querySelector("#main-banner img").src = image;
        });
        link.addEventListener("pointerover", (e) => {
            link.focus();
        });
    });
</script>