.container {
	position: absolute;
	inset: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	font-family: var(--body-family);
	font-weight: var(--regular-weight);
	line-height: var(--normal-line);
	word-spacing: var(--normal-word);
	letter-spacing: var(--normal-letter);
	background-color: var(--background-color);
	background-image: repeating-linear-gradient(3deg,
		var(--background-color) 0 var(--4x-small),
		var(--white) var(--4x-small) var(--x-small)
	);
	background-size: 100% 100%;
	color: var(--high-contrast-color);
	@media (--dark) {
		background-image: repeating-linear-gradient(3deg,
			var(--background-color) 0 var(--4x-small),
			var(--black) var(--4x-small) var(--x-small)
		);
	}
}

.content {
	display: block;
	flex: 1 0 auto;
	@media (--dark) {
		background-color: oklch(0 0 0 / var(--low-opacity));
	}
}