.container {
	position: absolute;
	inset: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	font-family: var(--body-family);
	font-weight: var(--regular-weight);
	line-height: var(--normal-line);
	word-spacing: var(--normal-word);
	letter-spacing: var(--normal-letter);
	background-color: var(--background-color);
	background-size: cover;
	background-image: url("background-art.jpg");
	background-position: center;
	color: var(--high-contrast-color);
}

.content {
	display: block;
	flex: 1 0 auto;
	@media (--dark) {
		background-color: oklch(0 0 0 / var(--low-opacity));
	}
}