.container {
	--background-color: var(--pink-800);
	--middleground-color: var(--pink-750);
	--foreground-color: var(--pink-700);
	--high-contrast-color: var(--white);
	--medium-contrast-color: var(--gray-100);
	--low-contrast-color: var(--gray-200);
	position: absolute;
	inset: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	font-family: var(--body-family);
	font-weight: var(--regular-weight);
	line-height: var(--normal-line);
	word-spacing: var(--normal-word);
	letter-spacing: var(--normal-letter);
	color: var(--high-contrast-color);
	&::before {
		content: "";
		position: fixed;
		inset: 0;
		z-index: var(--z-bottom);
		background-color: var(--background-color);
		background-image: url("background-art.jpg");
		background-size: cover;
		background-position: center;
		filter: var(--low-brightness);
		@media (--dark) {
			filter: var(--lowest-brightness);
		}
	}
	& > * {
		flex: 0 0 auto;
	}
}

.content {
	display: block;
	flex: 1 0 auto;
	order: -1;
}