@import "semantic-props";
@import "sanitize.css";

#root {
	position: relative;
	display: block;
	scroll-behavior: smooth;
	color-scheme: light dark;
	background-color: var(--background-color);
	overflow-x: hidden;
	overflow-y: auto;
}

#root {
	min-block-size: 100vh;
	min-block-size: 100dvb;
}