---
layout: base
hero: art/grove.jpg
---
<div id="page" class="{{ layoutClass }}">
    {% include "header.njk" %}
    <div id="content">
        {{ content | safe }}
    </div>
    {% include "footer.njk" %}
</div>